.main-container {
    background: linear-gradient(270deg, #001015 0%, #001015 100%);
    min-height: 100vh;
}

.s-wrapper {
    width: 240px;
    .saved-c {
        width: 204px;
        margin-top: 1.4rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        h4 {
            height: 40px;
            color: #d5d5d5;
            padding: 0.4rem 0.4rem 0.4rem 1rem; 
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            font-family: 'Roboto';
            background-color: #003040;
            margin-bottom: 0;
        }
        .content {
            padding: 1rem;
            z-index: 2 !important;
            height: 170px;
            background-color: #03212B;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            h5 {
                font-size: 14px;
                font-family: 'Roboto';
                color: #627884;
            }
        }
    
    }
    .back-rect {
        position: absolute;
        width: 200px;
        transition: all 0.3s;
        z-index: 0 !important;
        transform: translateY(10px) translateX(10px);
        height: 215px;
        margin-left: auto !important;
        margin-right: auto !important;
        left: -4rem;
        right: 0;
        top: 0.5rem;
        bottom: 0;
        opacity: 0;
        background-color: rgba(#03212B, 0.4);
        border-radius: 0.3rem;
    }

    .s-button {
        position: absolute;
        z-index: 40000 !important;
        bottom: 1rem;
        right: 4rem;
        width: 100px;
        background-color: rgba(black, 0.3);
        color: rgba(#d5d5d5, 0.9);
        border-radius: 0.3rem;
        border: none;
        opacity: 0;
        transform: translateY(3px);
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &:hover {
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        .back-rect {
            opacity: 1;
            transform: translateY(0px) translateX(0px);
        }

        .s-button {
            opacity: 1;
            transform: translateY(0px);
        }
    } 
}
