.add-docs {
    margin: 1.4rem 0;
    position: relative;
    display: inline;
    .docs {
        &-label {
            // display: block;
            width:180px;
            font-family: 'Roboto';
            font-size: 17px;
            color: white;
            background-color: #10615d;
            border-radius: 0.2rem;
            padding: 0.4rem;

            &:hover {
                cursor: pointer;
                span {
                    background-color: rgb(14, 165, 152);
                }
            }
    
            &:active {
                transform: scaleX(0.99);
            }
        }
        &-input {
            display: none;
        }
    }

    i {
        position: absolute;
        right: 0rem;
        top: -0.435rem;
        width: 20px;
        height: 37px;
        color: rgba(6, 57, 68, 1);
        background-color: rgb(19, 168, 99);
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
        // border-radius: 50%;
        padding: 1rem;

        &:hover {
            background-color: rgb(34, 185, 122);
        }
    }
}

.preview-txt-files {
    width:95%;
    height:90vh;
    margin:4rem auto;
    overflow-y:scroll;
}

.react-pdf__Page__canvas {
    width: 100% !important;
    // object-fit: contain;
    height: 100% !important;
}
.d-p-n {
    background-color: rgb(0, 59, 61);
    // padding: 0.3rem;
    position: fixed;
    width: 70%;
    z-index: 2000;
    text-align: center;
    // top: 1rem;
    button {
        background-color: transparent;
        color: #d5d5d5;
        font-family: 'Roboto';
        padding: 0.7rem;
        // margin: 0.2rem;

        &:hover {
            background-color: rgb(0, 0, 0);
        }

        &:active {
            transform: scale(0.98);
        }
    }

}

@media (max-width :768px) {
    .d-p-n {
        width: 90%;
    }   
}

@media (max-width:400px) {
    .download-button {
        position: absolute;
        margin-bottom: 2rem;
        top: -1.2rem;
        button {
            background-color: transparent;
            color: black;
            font-family: 'Roboto';
            margin: 0.2rem;
            border: 1px solid black;
            border-radius: 10rem;
    
            &:active {
                transform: scale(0.98);
            }
        }
    
    }
}

@media (max-width :320px) {
    .d-p-n {
        width: 86%;
        button {
            font-size: 13px;
            padding: 0.8rem;
        }
    }   
}