.faq-container {
    min-height: 200vh;
    background-color: #fff;
    .f-b {
        height: 20rem;
        position: relative;
        background-color: #001015;
        .f-b-i {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 15rem;
        }
        h3 {
            font-weight: 600;
            font-size: 54px;
            position: absolute;
            font-family: 'Spartan';
            color: #d5d5d5;
            top: 26%;
            left: 15%;
        }
    }
    hr {
        width: 100%;
        background-color: rgb(236, 236, 236);
        height: 0.05rem;
    }
}
.search-faq {
    z-index: 100;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .faq-search {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgba(#535353, 0.6);
        color: rgba(#252525, 1);
        font-size: 40px;
        text-align: center;
        &:focus {
            outline: none;
            border-bottom: 2px solid rgba(#333, 1);
        }
        &::placeholder {
            color: rgba(grey, 0.4);
        }
    }

    .fa-search, .fa-arrow-right {
        position: absolute;
        transition: all 0.3s ease;
        right: 1rem;
        top: 0.5rem !important;
        // width: 18%;
        background-color: #fff;
        top: 1.3rem;
        font-size: 40px;
        color: rgba(#636363, 0.6);
    }

    input[type="text"]:focus + .fa-search, .fa-arrow-right {
        color: rgba(#333333, 1);
    }
}
.faq-banner {
    height: 20rem;
}

.search-results {
    position: absolute;
    z-index: 1000 !important;
    background-color: rgb(32, 32, 32);
    width: 100%;
    right:0;
    max-height: 60vh;
    overflow-y: auto;
    border-radius: 0.5rem;
    ul {
        list-style: none;
        padding: 0.6rem;
        margin-bottom: 0 !important;
        a {
            text-decoration: none;
        }
        li {
            border-radius: 0.4rem;
            padding: 0.5rem;
            &:hover {
                background-color: rgb(27, 27, 27);
            }
            font-family: 'Roboto';
            h3 {
                color: #d5d5d5;
                font-size: 25px;
            }
            h5 {
                font-size: 17px;
                color: rgba(#d5d5d5, 0.6);
            }
        }
    }
}

.faq-section {
    
    color: rgba(#d5d5d5, 0.8);
    margin: 3rem 1.3rem;
    
    hr {
        width: 70%;
        margin : 0 auto 1.4rem 0;
        height: 0.1px;
        background-color: rgb(230, 230, 230);
        
    }
    h3 {
        font-family: 'Spartan';
        font-size: 26px;
        color: rgb(41, 41, 41);
        font-weight: 600;
    }
    h4 {
        font-family: 'Roboto';
        font-size:16px;
        color: rgb(114, 114, 114);
        max-width: 86%;
    }
}


.faq-links {
    list-style: none;
    font-family: 'Spartan';
    z-index: 0 !important;
    height: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    li {    
        padding: 0.4rem;
        border-radius: 0.4rem;
        &:hover {
            background-color: rgba(grey, 0.1);
            cursor: default;
        }
    }
}

.e-f-a-q {
    font-family: 'Spartan';
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 17px;
    }

    button {
        border: 3px solid grey;
        background-color: #243637;
        color: #d5d5d5;
        border-radius: 0.3rem;
        padding: 0.3rem;
        width: 100px;
    }
}

@media (max-width:800px) {
    .faq-links {
        display: none;
    }
    .faq-section {
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 15px !important;
            max-width: 100% !important; 
        }
    }

    .search-faq {
        transform: scale(0.8);
    } 
    .search-results {
        z-index: 1000 !important;
        max-height: 100vh !important;
    }

    .faq-container {
        .f-b {
                h3 {
                    font-size: 30px;
                }
        }
    }
}