
//input tag css
.qwx-form {
    &-wrapper {

    }

    &-label {
        display: block;
        font-family: 'Roboto';
        color: #D5D5D5;
        font-size: 15px;
        margin-bottom: 0.2rem;
    }

    &-input {
        border: 1.6px solid #56595a;
        border-radius: 0.1rem;
        // border: none !important;
        background-color: transparent; 
        margin-bottom: 1rem;
        padding: 0.4rem;
        font-size: 14px;
        caret-color: rgb(184, 185, 185);
        color: rgb(206, 206, 206);
        &:focus {
            outline: none;
            border: 2px solid rgb(15, 132, 153);
        }

        &::placeholder {
            color: rgb(143, 143, 143);
            font-family: 'Roboto';
            font-size: 13px;
        }
    }

    &-text-to-show {
        font-size: 12px;
        max-width: 80%;
        color: #2ea12e;

    }
}

//proceed button css
.qwx-button {
    margin: 1rem auto;
    button {
        width: 110px;
        padding: 0.3rem;
        background-color: transparent;
        border: 1.4px solid rgb(185, 185, 185);
        border-radius: 1.4rem;
        font-family: 'Roboto';
        color: rgb(105, 105, 105);
        transition: all 0.3s ease;
        margin: 0.4rem;
        &:hover {
            border: 1.4px solid #d5d5d5;
            color: #d5d5d5;
        }
    }
}

//ecah box of fields such as (loading, constraints, gear data etc...)
.qwx-sae-form-field-wrapper {
    
    // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(90, 93, 95, 0.15) 0px 1px 3px 1px;
    border: 3px solid #1D2527;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    height: 97%;

    h3 {
        font-size: 22px;
        font-family: 'Roboto';
        color: #d5d5d5;
        padding: 1rem 0 0.5rem 1rem;
        margin-bottom: 1.3rem;
        border-bottom: 3px solid rgb(0, 41, 35);
    }

    .material-field-text-content {
        color: #2ea12e;
        font-size: 13px;
        max-width: 88%;
        margin: 0rem auto 1.35rem auto;
    }

    .steel-grade {
        color: grey;
        font-family: 'Roboto';
    }

    .face-width-range {
        h5 {
            color: rgb(78, 78, 78);
            font-size: 15px;
            font-family: 'Roboto';
        }
        input {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            border: 2px solid rgb(190, 190, 190);
            &:focus {
                outline: none;
                border: 2px solid rgb(15, 132, 153);
            }
        }

        .message-text {
            font-family: 'Roboto';
            font-size: 13px;
            color: rgb(46, 161, 46);
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.qwx-sae-left-side {
    // z-index: 30000;
    &-logo {
        width: 160px;
        padding: 0.3rem;
        margin: 0 auto;
        height: auto;
        pointer-events: none;
    }
    &-panel {
        background-color: #001015 !important;
        border-right: 14px solid #00242F !important;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        hr {
            width: 96%;
            margin: 0.5rem auto;
            background-color: rgb(158, 158, 158);
        }
        height: 100vh;
        position: fixed !important;
        background-color: rgb(255, 255, 255);
        border-right: 1px solid rgb(223, 223, 223);

        ul {
            padding-left: 0rem;
            list-style: none;

            li {
                padding: 0.4rem 0 0.4rem 1rem;
                font-size: 17px;
                color: rgb(233, 233, 233);
                &:hover {
                    background-color: rgb(0, 0, 0);
                    cursor: default;
                }

                .fa {
                    color: rgb(233, 233, 233);
                }
            }
        }
    }

    &-heading {
        padding: 0.8rem;
        font-family: 'Roboto';
        margin-bottom: 0;
        color: white;

    }

}

.gears-page {

}

.qwx-sae-right-side {
    
    &-panel {
        min-height: 100vh;
        padding: 0 !important;
        background-color: #001015;
    }

}
.end-of-page {
    margin-bottom: 6rem !important;
    height: 60px;
}

.to-end-of-page {
    position: fixed;
    bottom: 47%;
    z-index: 100;
    right: 30px;
    font-size: 37px;
    font-weight: 600;
    border-radius: 50%;
    // border: 1px solid black;
    width: 40px;
    height: 40px;
    &:hover {
        cursor: pointer;
    }
}

.back-to-top-button {
    position: fixed;
    bottom: 53%;
    z-index: 30000;
    right: 30px;
    font-size: 38px;
    font-weight: 600;
    border-radius: 50%;
    // border: 1px solid black;
    color: #d5d5d5;
    width: 40px;
    height: 40px;
    &:hover {
        cursor: pointer;
    }
} 

.show-hide-btn {
    border-radius: 1.4rem;
    margin-top: 1.3rem;
    width: 100px;
    padding: 0.3rem;
    background-color: rgb(0, 51, 48);
    color: white;
    font-family: 'Roboto';

    &:hover {
        background-color: rgb(0, 43, 40);
    }

    &:active {
        transform: scale(0.98);
    }
}

@media (max-width:768px) {
    .qwx-sae-left-side {
        &-panel {
            height: 30vh;
            position: relative !important;
            border-right: none !important;
        }
    }
}
