.h-1 {
    background: linear-gradient(270deg, #0A1210 0%, #0D2324 100%);
    margin-bottom: 4.6rem !important;
    .h-s-1 {
        
        h1 {
            font-size: 34px;
            color: white;
            text-transform: uppercase;
            font-family: $font-6;
            margin-bottom: 0;
        }
        h3 {
            font-size: 20px;
            margin: 1.3rem auto;
            color: rgba(white, 0.7);
            font-family: $font-6; 
        }
        .h-1-b {
            width: 150px;
            padding: 0.3rem;
            border-radius: 0.3rem;
            background-color: #243536;
            border: none;
            border: 2px solid #d5d5d5;
            color: #d5d5d5;
        }

    }
    .h-s-2 {
        .h-1-i {

        }
    }
}

.h-2 {
    margin: 5rem auto;
    .h-2-i {

    }

    .h-2-s {
        h2 {
            font-family: $font-6;
            font-size: 34px;
        }
        h3 {
            font-size: 20px;
            color: rgb(77, 77, 77);
            margin-bottom: 1.6rem;
        }
        h4 {
            font-family: 'Spartan';
            font-size: 18px;
            font-weight: 600;
        }
        .h-2-b {
            width: 150px;
            padding: 0.3rem;
            border-radius: 0.3rem;
            border: none;
            background-color: rgba(#020050, 0.8);
            color: white;
        }
    }
}

.h-3 {
    background-color: #00141B;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    margin: 10rem auto;
    .h-3-s-1 {
        
        h3 {
            margin-top: 2rem;
            font-family: $font-6;
            font-size: 34px;
            color: #fff;
        }
        h4 {
            margin-top: 1rem;
            color: #fff;
            font-size: 18px;
            font-family: 'Spartan';
        }
        button {
            margin-top: 1.5rem;
            border: none;
            width: 150px;
            padding: 0.3rem;
            border-radius: 0.3rem;
            background-color: #192B31;
            border: 2px solid #d5d5d5;
            color: white;
        }
    }
    .h-3-s-2 {

    } 
} 

.h-4-heading {
    margin-top: rem;
    font-family: $font-6;
}

.a-temp-home {
    height: 100vh;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.a-temp-list {
    list-style: none;
    padding-left: 0;
    li {
        padding: 0.3rem;
        border-radius: 0.3rem;
        &:hover {
            cursor: pointer;
            background-color: rgb(228, 228, 228);
        }
    }
}


.btn-a-temp {
    border: none;
    box-shadow: rgba(#000000, 0.25) 0px 5px 10px 0px  !important;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user-button-a-temp {
    position: absolute;
    right: 2rem;
    top: 0.4rem;
    background-color: rgba(6, 57, 68, 0.5);
    width: 120px;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    border-radius: 0.16rem;
    font-size: 18px;
    padding-bottom: -1.3rem !important;
}
.fa-temp-c {
    position: absolute;
    right: 2.6rem;
    color: white;
    top: 0.9rem;
    font-size: 20px !important;
    z-index: 10000 !important;
}


.login-buttons {
    a {
        text-decoration: none !important;
        .l-b {
            background-color: #101D3A;
            color: white;
            font-family: 'Roboto';
        }
    }

    margin-bottom: 3rem;
}