.toggle_radio{
    position: relative;
    background: transparent;
    border: 1px solid rgb(150, 150, 150);
    margin: 4px auto;
    // overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 26px;
    width: 100px;

    .toggle_option_slider{
        width: 50px;
        height: 24px;
        z-index: -1;
        position: absolute;
        // top: 3px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        border: 1px solid black;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        -ms-transition: all .4s ease;
        transition: all .4s ease;
        background-color: transparent;
      }
  }
  .toggle_radio > * {
    float: left;
  }
  .toggle_radio input[type=radio]{
    display: none;
    /*position: fixed;*/
  }
  .toggle_radio label{
    font: 90%/1.618 "Roboto";
    color: rgba(51, 51, 51, 0.9);
    z-index: 10;
    display: inline;
    width: 40px;
    height: 20px;
    margin: 2px 2px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
  }
  


  
  #first_toggle:checked ~ .toggle_option_slider{
    background-color: rgba(163, 17, 17, 0.15);
    transition: all .4s ease;
    left: -1px;
  }
  #second_toggle:checked ~ .toggle_option_slider{
    background-color:  transparent;
    left: 47px !important;
  }