.constraints-content-line {
    font-size: 14px;
    color: green;
    padding: 0.3rem;
    width: 86%;
    margin: 0.5rem auto 1rem auto;
}

.open-figure {
    text-decoration: underline;
    color: rgb(33, 110, 33);
    &:hover {
        color: rgb(1, 65, 1);
        cursor: pointer;
    }
}

.shaft-page {

}